/CMakeUserPresets.json

# Common build directories
/build*/

# CI jobs that run in symlinked trees produce these artifacts.
/real_work/
/work

# MacOS Finder files.
.DS_Store

# Python compile output.
*.pyc

# See Utilities/Sphinx/tutorial_archive.cmake
/Help/_generated

# CLion work directory
/.idea/
# CLion build directories
/cmake-build-*/

# QtCreator files.
/CMakeLists.txt.user*

# Visual Studio Code
/.vscode/
/.cache/

# Visual Studio work directory
/.vs/
# Visual Studio build directory
/out/

# clang-tidy output
/clang-tidy-fixes.patch

ad2_test
# CMake cache files
/CMakeCache.txt
# CMake files
/CMakeFiles/
# CMake user files
/CMakeUserPresets.json
# CMake install files
/CMakeInstall.cmake
# CMake export files
cmake_install.cmake
